@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #E9621C;
  --color-secondary: #DF951D;
  --color-tertiary: #E9621C;
  --color-dark: #2D2A26;
  --color-light: #585858;


  /* Fonts */
  --font-primary: var(--font-trajan-pro);
  --font-secondary: var(--font-cormorant-garamond);
  --font-body: var(--font-avenir);
  --font-cinzel: var(--font-cinzel);
  --font-nunito-sans: var(--font-nunito-sans);
}


body {
  font-family: var(--font-avenir);
}


